<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP_PAV_3k2.Properties.Settings.PAV_3k2_2019ConnectionString"
            connectionString="Data Source=PAV-3k2-2019.mssql.somee.com;Initial Catalog=PAV-3k2-2019;Persist Security Info=True;User ID=blosin_SQLLogin_1;Password=in5wbvgd6s"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>